<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meet Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="~/Images/vivikta_logo.ico" />
</head>
<body class="p-0">
    <nav class="navbar navbar-inverse sticky-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <img src="~/Images/vivikta_logo.png" width="50" height="50" alt="Meet Up">
                </a>
                <a class="navbar-brand" href="#">Meet Up</a>
            </div>
            @if (Session["EmployeeId"] != null)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a><span class="glyphicon glyphicon-user"></span> Welcome : @Session["EmployeeId"]</a></li>
                    <li><a href="@Url.Action("LogOut", "Login")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Welcome to MeetUp</a></li>
                    <li><a href="@Url.Action("Index", "Login")"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                </ul>
            }
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <footer></footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
