@model MeetUp.Entites.Login
@{
    ViewBag.Title = "Login";
}
<style>
    #login-div {
        position: absolute;
        left: 40%;
        top: 40%;
        border: 1px solid #ccc;
        padding: 15px 15px;
    }

    .field-validation-error {
        color: red;
    }
</style>
<div class="form-group" id="login-div">
    @using (Html.BeginForm("Authenticate", "Login", FormMethod.Post))
    {
        <table align="center">
            <tr>
                <td>
                    @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(Model => Model.EmployeeId, new { htmlAttributes = new { @class = "form-control" } })<br />
                </td>
                <br />
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.EmployeeId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.Password)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="field-validation-error"> @Html.DisplayFor(Model => Model.LoginErrorMessage) </label>
                    <a href="" style="float:right;" data-toggle="modal" data-target="#myModal">Forgot Password?</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn-success" name="login" value="Login" />
                    <input type="reset" class="btn-danger" name="reset" value="Clear" />
                </td>
            </tr>
        </table>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Forgot Password</h4>
                    </div>
                    <div class="modal-body">
                        Enter your Employee Id <input type="text" id="rempid" class="form-control" /><br />
                        <input type="button" class="btn btn-success" id="reset" value="Request Password" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts{
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $(function () {
            $(document).on('click', '#reset', function (event) {
                debugger;
                var ResetEmpId = ($("#rempid").val());
                $.ajax({
                    url: "/Login/Reset",
                    type: "POST",
                    data: {
                        EmpId: ResetEmpId
                    },
                    success: function (data) {
                        //if (data == "True") {
                            toastr["info"]("It is recommended to change the password", "Recommendation");
                            toastr["success"]("Kindly use the password sent to your mail", "Password sent to you Mail");
                        //}
                    },
                    error: function () {
                    }
                })
            });
        });
    </script>
}